services:
  frontend:
    build:
      context: ./apps/frontend
    ports:
      - "3000:3000"
    volumes:
      - ./apps/frontend:/app
      - /app/node_modules
    stdin_open: true
    tty: true

  backend:
    build:
      context: ./apps/backend
    ports:
      - "8000:8000"
    volumes:
      - ./apps/backend:/app
      - sqlite_data:/app/data
    depends_on:
      - scraper

  scraper:
    build:
      context: ./apps/scraper
    volumes:
      - ./apps/scraper:/app
    stdin_open: true
    tty: true

volumes:
  sqlite_data:
